<h1>Here is more about my idea {{idea}} and why you should invest</h1>

<ol>
	<li>{{idea}} will be life changing. It has already changed my life.</li>
	<li>{{idea}} is convenient. Any good idea is convienent.</li>
</ol>

<ul>
	<li>{{idea}} kickstarter will donate a portion of its proceeds to charity.</li>
	<li>Now that you have heard about {{idea}}, can you live without it?</li>
</ul>

<img height=50% src="/static/{{idea}}.jpg">

<h1>You've visited this page {{count}} times to look at {{idea}} </h1>

<link rel="stylesheet" href="/static/style.css">